
/* INDEX.HTML - STYLE */

@font-face {
    font-family: SkyrimFont;
    src: url(/fonts/SkyrimFont.ttf);

    font-family: SkyrimText;
    src: url(/fonts/typo3Normal.ttf);
}

body {
    margin: 0px;
    background-image: url(images/BackGround.jpg);
}

.navBar {

    font-family: SkyrimText;
    color: #c2c2c5;

    background-color: #151817 ;
    display: flex;
}

.navBar > #link-homepage {

    color: inherit;
    text-decoration: none;
    margin-left: 35px;
    font-size: 25px;
}

.navBar > #link-homepage:hover {

    color: rgb(124, 118, 118)
}

.navBar > #logIn {

    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 60px;
    margin-left: auto;
}

#nav-Enter-Button:hover, #nav-SignUp-Button:hover {

    opacity: 1;
    background-color: #8a9593;

    border-radius: 5px;

    transition: 0.6s;

    color:#151817;
}

#nav-Enter-Button, 
#nav-SignUp-Button {

    opacity: 0.6;
    
    margin-right: 30px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 9px;

    border-radius: 5px;

    font-size: 15px;
    color: #8a9593;
    text-decoration: none;

}

.section1 {
    margin-bottom: 0px;
    margin-top: 3px;
    background-image: url(images/ancientWall.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;

    border-bottom: 3px solid #050608;


    width: 100%;
    height: 700px !important;
}
#section-title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 80px;
    font-family: SkyrimFont;

}
.trailerSection {

    background-color: transparent;
    display: flex;
    justify-content: center;
    height: 600px;

}
#video-header{

    color:white;
    font-size: 40px;
    text-shadow: 3px 3px #151817;
    font-family: SkyrimText;
    
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#Skyrim-Official-Trailer {

    box-sizing: content-box;
    box-shadow: 0px 0px 30px #000;
}

.about-Skyrim > #about-Skyrim-Text-Title {
    
    display: flex;
    justify-content: center;
    background-color: #151817;
    margin-bottom: 0px;

    box-shadow: 0px 0px 5px #8a9593;

    text-shadow: 1px 1px 3px #000;

    color: #fff;
    font-size: 50px;
    font-family: SkyrimFont;
}
.about-Skyrim > #about-skyrim-Text-Paragraph {

    color: #8a9593;
    font-size: 20px;
    font-family: SkyrimText;

    padding-top: 10px;
    background-color: #151817;
    box-shadow: 0px 0px 40px #151817;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
}

.special-Edition {

    margin-bottom: 0px;
    margin-top: 3px;
    background-image: url(images/special-edition.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    box-shadow: 0px 0px 40px #000;
    border-bottom: 3px solid #050608;


    width: 100%;
    height: 700px !important;
}

#try-Special-Edition {
    display: flex;
    justify-content: center;

    color: #fff;
    font-family: SkyrimFont;
    font-size: 40px;
    text-shadow: 4px 4px 9px #151817;
}

#link-create-account {
    color: inherit;
    text-decoration: none;
}

footer {
    color: #8a9593;
    background-color: #3d3d3d;
    display: flex;
    justify-content: center;
}


